<section id="search">
  <md-input-container>
    <md-icon mdPrefix>search </md-icon>
    <input name="search" #search mdInput (keyup)="onType(search)">
  </md-input-container>
  <md-chip-list>
    <md-chip>{{(employees$ | async | genderFilter:(state$|async).filter.gender | locationFilter:(state$|async).filter.location | lastnameSearch:(state$|async).searchQuery | lastnameSort:(state$|async).sortOrder).length}}</md-chip>
  </md-chip-list>
</section>

<md-card *ngFor="let employee of (employees$ | async | genderFilter:(state$|async).filter.gender | locationFilter:(state$|async).filter.location | lastnameSearch:(state$|async).searchQuery | lastnameSort:(state$|async).sortOrder)"
(click)="onSelect(employee)">

    <button @deleteState *ngIf="employee.id === selectedEmployeeID" md-mini-fab color="warn" (click)="onDelete(employee)"><md-icon>delete</md-icon></button>

    <md-card-title-group>
      <img [src]="employee.photo  | safeUrl" alt="image" md-card-md-image>
      <md-card-title>{{ employee.firstName }} {{ employee.lastName }}</md-card-title>
      <md-card-subtitle *ngIf="!employee.suspendDate">{{ employee.grade }}, {{ employee.division }}</md-card-subtitle>
      <md-card-subtitle>{{ employee.locationId.city }}, {{ employee.phone }}</md-card-subtitle>
      <md-card-subtitle class="no-margin"><md-chip *ngIf="employee.suspendDate">Inactive</md-chip></md-card-subtitle>
    </md-card-title-group>

</md-card>

<div class="empty" *ngIf="(employees$ | async | genderFilter:(state$|async).filter.gender | locationFilter:(state$|async).filter.location | lastnameSearch:(state$|async).searchQuery | lastnameSort:(state$|async).sortOrder).length === 0">No results.</div>
