:host {
  width: 100%;
}

md-card {
  margin: 10px;
}

.mat-card-avatar {
  width: 64px;
}
.avatar-img {
  width: 100%;
  border-radius: 50%;
}

button {
    position: absolute;
    top: calc(50% - 20px);
    right: 10px;
}
