<md-card>
  <md-select placeholder="Location" (change)="filterCity($event)">
    <md-option value="" selected>All</md-option>
    <md-option *ngFor="let location of locations$ | async" [value]="location.id">{{ location.city }}</md-option>
  </md-select>
  <p>{{(employees$ | async | genderFilter:(state$|async).filter.gender | locationFilter:(state$|async).filter.location | lastnameSearch:(state$|async).searchQuery | lastnameSort:(state$|async).sortOrder).length}} results found</p>
</md-card>
<md-card *ngFor="let employee of (employees$ | async | genderFilter:(state$|async).filter.gender | locationFilter:(state$|async).filter.location | lastnameSearch:(state$|async).searchQuery | lastnameSort:(state$|async).sortOrder)"
(click)="onSelect(employee)">

    <md-card-header>
      <div md-card-avatar>
        <img class="avatar-img" src="{{ employee.imageUrl }}/?v={{ employee.id }}" alt="image">
      </div>
      <md-card-title>{{ employee.firstName }} {{ employee.lastName }}</md-card-title>
      <md-card-subtitle>{{ employee.grade }}, {{ employee.division }}</md-card-subtitle>
      <md-card-subtitle>{{ employee.locationId }}, {{ employee.phone }}</md-card-subtitle>
    </md-card-header>

    <md-card-actions @cardState *ngIf="employee.id == selected">
      <button md-button>DELETE</button>
    </md-card-actions>
</md-card>
