<form [formGroup]="form" (ngSubmit)="add(form.value)" fxLayout="row">
  <div fxFlex="20%">
    <div class="avatar-img" >
      <img [src]="avatar | safeUrl" alt="image">
    </div>
    <input #fileInput accept='image/*' type="file" placeholder="Photo" formControlName="photo" (change)="onSelectPhoto($event)" />
  </div>

  <div fxFlex="40%">
    <input type="hidden" name="id" id="id" formControlName="id" [ngModel]="employee?.id">
    <md-input-container>
      <input mdInput placeholder="First Name" formControlName="firstName" [ngModel]="employee?.firstName">
      <md-error>Required</md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Last Name" formControlName="lastName" [ngModel]="employee?.lastName">
      <md-error>Required</md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Gender" formControlName="gender" [ngModel]="employee?.gender">
      <md-error>Required</md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput type="date" placeholder="Date of Birth" formControlName="dob" [ngModel]="employee?.dob">
      <md-error>Required</md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Nationality" formControlName="nationality" [ngModel]="employee?.nationality">
      <md-error>Required</md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Marital Status" formControlName="maritalStatus" [ngModel]="employee?.maritalStatus">
      <md-error>Required</md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput type="tel" placeholder="Phone" formControlName="phone" [ngModel]="employee?.phone">
      <md-error>Required</md-error>
    </md-input-container>

    <md-select placeholder="Location" formControlName="locationId" [ngModel]="employee?.locationId">
      <md-option *ngFor="let location of locations | async" [value]="location.id">{{ location.city }}</md-option>
    </md-select>
  </div>

  <div fxFlex="40%">
    <md-input-container>
      <input mdInput placeholder="Sub Division" formControlName="subDivision" [ngModel]="employee?.subDivision">
      <md-error>Required</md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Status" formControlName="status" [ngModel]="employee?.status">
      <md-error>Required</md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput type="date" placeholder="Suspend Date" formControlName="suspendDate" [ngModel]="employee?.suspendDate">
    </md-input-container>

    <md-input-container>
      <input mdInput type="date" placeholder="Hired Date" formControlName="hiredDate" [ngModel]="employee?.hiredDate">
      <md-error>Required</md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Grade" formControlName="grade" [ngModel]="employee?.grade">
      <md-error>Required</md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Division" formControlName="division" [ngModel]="employee?.division">
      <md-error>Required</md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput type="email" placeholder="E-mail" formControlName="email" [ngModel]="employee?.email">
      <md-error>Required</md-error>
    </md-input-container>

    <button md-button type="submit" [disabled]="!form.valid" color="primary">Save</button>
    <button *ngIf="!employee.id" md-button type="button" (click)="cancel()">Cancel</button>
  </div>

</form>
