<md-card>

  <form [formGroup]="form" (ngSubmit)="add(form.value)">

    <section fxLayout="column">

      <section fxLayout="row" fxLayoutAlign="space-between">

        <div fxFlex="38" fxFlex.sm="48">
          <div class="avatar-img">
            <img [src]="avatar | safeUrl" alt="image">

            <button (click)="fileInput.click()" color="accent" class="upload" md-fab type="button">
              <input #fileInput accept='image/*' type="file" placeholder="Photo" formControlName="photo" (change)="onSelectPhoto($event)" />
              <md-icon>add_a_photo</md-icon>
            </button>
          </div>
        </div>

        <div fxFlex="58" fxFlex.sm="48" fxFlexAlign="center">
          <input type="hidden" formControlName="id" [ngModel]="employee?.id">

            <div fxLayout="column">

              <md-input-container>
                <input mdInput placeholder="First Name*" formControlName="firstName" [ngModel]="employee?.firstName">
                <md-error *ngIf="form.controls.firstName.errors?.required">First name is mandatory.</md-error>
                <md-error *ngIf="form.controls.firstName.errors?.invalidName">First name must contain only alphabets and space.</md-error>
              </md-input-container>

              <md-input-container>
                <input mdInput placeholder="Last Name*" formControlName="lastName" [ngModel]="employee?.lastName">
                <md-error *ngIf="form.controls.lastName.errors?.required">Last name is mandatory.</md-error>
                <md-error *ngIf="form.controls.lastName.errors?.invalidName">Last name must contain only alphabets and space.</md-error>
              </md-input-container>

              <md-input-container>
                <input mdInput [ngStyle]="{'display':'none'}" />
                <md-select class="md-input-select" placeholder="Location*" formControlName="locationId" [ngModel]="employee?.locationId?.id" >
                  <md-option *ngFor="let location of locations$ | async" [value]="location.id">{{ location.city }}</md-option>
                </md-select>
                <md-error *ngIf="form.controls.locationId.errors?.required">Location is mandatory.</md-error>
              </md-input-container>

              <md-input-container>
                <input mdInput type="email" placeholder="E-mail*" formControlName="email" [ngModel]="employee?.email">
                <md-error *ngIf="form.controls.email.errors?.required">E-mail is mandatory.</md-error>
                <md-error *ngIf="form.controls.email.errors?.invalidEmail">E-mail address pattern is invalid.</md-error>
              </md-input-container>

              <md-input-container>
                <input mdInput type="tel" placeholder="Phone*" formControlName="phone" [ngModel]="employee?.phone">
                <md-error *ngIf="form.controls.phone.errors?.required">Phone is mandatory.</md-error>
                <md-error *ngIf="form.controls.phone.errors?.invalidPhone">Phone must contain only numeric characters.</md-error>
              </md-input-container>

            </div>

        </div>
      </section>

      <section class="detail-category" fxLayout="row" fxLayoutAlign="space-between">

        <div class="personal" fxFlex="48">

          <h4 class="category-title"><md-icon>face</md-icon>Personal Information</h4>
          <div fxLayout="column">

            <md-input-container>
              <input mdInput [ngStyle]="{'display':'none'}" />
              <md-select placeholder="Gender*" formControlName="gender" [ngModel]="employee?.gender">
                <md-option *ngFor="let gender of lookupLists.genders" [value]="gender">{{ gender }}</md-option>
              </md-select>
              <md-error *ngIf="form.controls.gender.errors?.required">Gender is mandatory.</md-error>
            </md-input-container>

            <md-input-container>
              <input mdInput type="date" placeholder="Date of Birth*" formControlName="dob" [ngModel]="employee?.dob">
              <md-error *ngIf="form.controls.dob.errors?.required">Date of birth is mandatory.</md-error>
              <md-error *ngIf="form.controls.dob.errors?.invalidDate">Date of birth must be set for date pattern (YYYY-MM-DD).</md-error>
            </md-input-container>

            <md-input-container>
              <input mdInput placeholder="Nationality*" formControlName="nationality" [ngModel]="employee?.nationality">
              <md-error *ngIf="form.controls.nationality.errors?.required">Nationality is mandatory.</md-error>
            </md-input-container>

            <md-input-container>
              <input mdInput [ngStyle]="{'display':'none'}" />
              <md-select placeholder="Marital Status*" formControlName="maritalStatus" [ngModel]="employee?.maritalStatus">
                <md-option *ngFor="let maritalStatus of lookupLists.maritalStatuses" [value]="maritalStatus">{{ maritalStatus }}</md-option>
              </md-select>
              <md-error *ngIf="form.controls.maritalStatus.errors?.required">Marital status is mandatory.</md-error>
            </md-input-container>

            <md-input-container>
              <input mdInput type="date" placeholder="Hired Date*" formControlName="hiredDate" [ngModel]="employee?.hiredDate">
              <md-error *ngIf="form.controls.hiredDate.errors?.required">Hired date is mandatory.</md-error>
              <md-error *ngIf="form.controls.hiredDate.errors?.invalidDate">Hired date birth must be set for date pattern (YYYY-MM-DD).</md-error>
            </md-input-container>

            <p class="help">Mandatory fields are indicated with an asterisk (*).</p>

          </div>

        </div>

        <div class="work" fxFlex="48">

          <h4 class="category-title"><md-icon>work</md-icon>Work Information</h4>
          <div fxLayout="column">

            <md-input-container>
              <input mdInput [ngStyle]="{'display':'none'}" />
              <md-select md-container-class="control" class="control"placeholder="Division*" formControlName="division" [ngModel]="employee?.division">
                <md-option *ngFor="let division of lookupLists.divisions" [value]="division">{{ division }}</md-option>
              </md-select>
              <md-error *ngIf="form.controls.division.errors?.required">Division is mandatory.</md-error>
            </md-input-container>

            <md-input-container>
              <input mdInput placeholder="Sub Division*" formControlName="subDivision" [ngModel]="employee?.subDivision">
              <md-error *ngIf="form.controls.subDivision.errors?.required">Sub division is mandatory.</md-error>
            </md-input-container>

            <md-input-container>
              <input mdInput [ngStyle]="{'display':'none'}" />
              <md-select md-container-class="control" class="control"placeholder="Grade*" formControlName="grade" [ngModel]="employee?.grade">
                <md-option *ngFor="let grade of lookupLists.grades" [value]="grade">{{ grade }}</md-option>
              </md-select>
              <md-error *ngIf="form.controls.grade.errors?.required">Grade is mandatory.</md-error>
            </md-input-container>

            <md-input-container>
              <input mdInput [ngStyle]="{'display':'none'}" />
              <md-select md-container-class="control" class="control"placeholder="Status*" formControlName="status" [ngModel]="employee?.status">
                <md-option *ngFor="let status of lookupLists.statuses" [value]="status">{{ status }}</md-option>
              </md-select>
              <md-error *ngIf="form.controls.status.errors?.required">Status is mandatory.</md-error>
            </md-input-container>

            <md-input-container>
              <input mdInput type="date" placeholder="Suspend Date" formControlName="suspendDate" [ngModel]="employee?.suspendDate">
              <md-error *ngIf="form.controls.suspendDate.errors?.invalidDate">Suspend date birth must be set for date pattern (YYYY-MM-DD).</md-error>
            </md-input-container>

          </div>

          <button type="submit" [disabled]="!form.valid" color="primary" md-raised-button>
            <md-icon>save</md-icon>
            SAVE
          </button>

        </div>
      </section>

    </section>

  </form>

</md-card>
