<md-toolbar>

  <span mdTooltip="Filter by location" [mdTooltipShowDelay]="300">
    <button class="hoverable" [ngClass]="state.filter.location !== null ? 'active' : ''" md-icon-button [mdMenuTriggerFor]="location">
      <md-icon>location_on</md-icon>
    </button>
  </span>
  <md-menu #location="mdMenu">
    <button md-menu-item (click)="filterLocation(null)">
      <span>All</span>
    </button>
    <div *ngFor="let location of locations$ | async">
      <button md-menu-item (click)="filterLocation(location)">
        <span>{{ location.city }}</span>
      </button>
    </div>
  </md-menu>

  <span class="fill-space"></span>

  <span mdTooltip="Filter by gender" [mdTooltipShowDelay]="300">
    <button class="hoverable" [ngClass]="state.filter.gender !== null ? 'active' : ''" md-icon-button [mdMenuTriggerFor]="gender">
      <md-icon>wc</md-icon>
    </button>
  </span>
  <md-menu #gender="mdMenu">
    <button md-menu-item (click)="filterAll()">
      <span>All</span>
    </button>
    <button md-menu-item (click)="filterMale()">
      <span>Male</span>
    </button>
    <button md-menu-item (click)="filterFemale()">
      <span>Female</span>
    </button>
  </md-menu>

  <span class="fill-space"></span>

  <span mdTooltip="Sort order" [mdTooltipShowDelay]="300">
    <button class="hoverable" md-icon-button [mdMenuTriggerFor]="sort">
      <md-icon>sort_by_alpha</md-icon>
    </button>
  </span>
  <md-menu #sort="mdMenu">
    <button md-menu-item (click)="sortAscending()">
      <span>Ascending</span>
    </button>
    <button md-menu-item (click)="sortDescending()">
      <span>Descending</span>
    </button>
  </md-menu>

</md-toolbar>
