<div *ngIf="state$ | async as state">

  <section id="content" fxLayoutWrap>

    <section id="form" @addFormState *ngIf="state.addForm" fxFlex = "70%">
      <app-emp-form></app-emp-form>
  	</section>

    <app-filter-panel fxFlex="30"></app-filter-panel>
    <app-navbar fxFlex="70"></app-navbar>

  	<aside id="list" fxFlex = "30">
      <app-emp-item class="scrollable"></app-emp-item>
      <button class="floating" md-fab color="primary" (click)="openForm()"><md-icon>add</md-icon></button>
    </aside>

  	<section id="detail" fxFlex = "70">
      <app-emp-detail></app-emp-detail>
    </section>

  </section>

  <div id="wrapper" @wrapperState *ngIf="state.addForm" (click)="closeForm()"></div>

</div>
