<div *ngIf="state$ | async as state">

  <nav id="navbar">
    <app-navbar></app-navbar>
  </nav>

  <section id="searchBar" @searchBarState *ngIf="state.searchBar">
    <app-search-bar></app-search-bar>
  </section>

  <section id="content" fxLayout="row">

    <section id="add" @addFormState *ngIf="state.addForm" fxFlex = "90%" fxFlex.md = "100%">
      <app-emp-add></app-emp-add>
  	</section>

  	<aside id="list" fxFlex = "25%" fxFlex.md = "33.33%">
      <app-emp-item></app-emp-item>
    </aside>

  	<section id="detail" fxFlex = "75%" fxFlex.md = "66.66%">
      <app-emp-detail></app-emp-detail>
    </section>

  </section>

  <div id="wrapper" @wrapperState *ngIf="state.addForm" (click)="toggleAddForm()"></div>

</div>
