#navigation {
  z-index: 10;
}

#list, #detail {
  height: calc(100vh - 64px);
  overflow-y: scroll;
}

#addBtn {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.fill-space {
  flex: 1 1 auto;
}
