<md-card>

  <form fxLayout="row">

    <div fxFlex="50%">
      <md-input-container>
        <input mdInput placeholder="First Name" value="{{ employee.firstName }}">
      </md-input-container>
      
      <md-input-container>
        <input mdInput placeholder="Last Name" value="{{ employee.lastName }}">
      </md-input-container>
      
      <md-input-container>
        <input mdInput placeholder="Gender">
      </md-input-container>
      
      <md-input-container>
        <input mdInput type="date" placeholder="Date of Birth">
      </md-input-container>
      
      <md-input-container>
        <input mdInput placeholder="Nationality">
      </md-input-container>
      
      <md-input-container>
        <input mdInput placeholder="Marital Status">
      </md-input-container>
      
      <md-input-container>
        <input mdInput type="tel" placeholder="Phone">
      </md-input-container>
    </div>
  
    <div fxFlex="50%">
      <md-input-container>
        <input mdInput placeholder="Sub Division">
      </md-input-container>
      
      <md-input-container>
        <input mdInput placeholder="Status">
      </md-input-container>
      
      <md-input-container>
        <input mdInput type="date" placeholder="Suspend Date">
      </md-input-container>
      
      <md-input-container>
        <input mdInput type="date" placeholder="Hired Date">
      </md-input-container>
      
      <md-input-container>
        <input mdInput placeholder="Grade">
      </md-input-container>
      
      <md-input-container>
        <input mdInput placeholder="Division">
      </md-input-container>
      
      <md-input-container>
        <input mdInput type="email" placeholder="E-mail">
      </md-input-container>
    </div>

  </form>
</md-card>
